### --- Automation & Maven Specific --- ###
target/
*.jar
!.mvn/wrapper/maven-wrapper.jar
# Allure folders
allure-results/
allure-report/
.allure/
# Logs and temp files
*.log
test-output/
Chinook.db-journal

### --- IntelliJ IDEA --- ###
.idea/
*.iws
*.iml
*.ipr
out/

### --- Eclipse & Other IDEs --- ###
.apt_generated
.classpath
.factorypath
.project
.settings
.vscode/
bin/

### --- System Files --- ###
.DS_Store
Thumbs.db

### --- Keeping Configuration --- ###
!.gitignore
!pom.xml